.propertyInfoContainer {
    width: 100%;
    padding-bottom: 36px;
}

.amenitiesContainer {
    display: none;
    margin-bottom: 10px;
}

/* Location path */
.locationPath {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 32px 0
}

.pathSeparator {
    margin: 0 8px;
    color: #CBD5E0;
}

.pathItem {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #CBD5E0;
}

.title {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #A0AEC0;
    margin-bottom: 24px;
}

.locationLink {
    color: #3182CE;
    text-decoration: none;
    font-size: 16px;
}

.locationLink:hover {
    text-decoration: underline;
}

/* Price section */
.priceSection {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
}

.price {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.03em;
    margin-right: 12px;
    margin-bottom: 0;
    color: #1A202C;
}

.pricePerMeter {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #A0AEC0;
}

/* Details section */
.detailsSection {
    display: flex;
    gap: 24px;
}

.detailItem {
    display: flex;
    align-items: center;
    gap: 4px;
}

.detailIcon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.detailText {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #2D3748;
}

/* Info cards */
.infoCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.infoCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    padding: 8px 12px 12px 12px;
    border-radius: 10px;
    transition: background-color 0.2s;
    background: linear-gradient(341deg, rgba(113, 128, 150, 0.08) 17.31%, rgba(132, 100, 203, 0.16) 50%, rgba(151, 71, 255, 0.23) 100%);
}

.infoCardIcon {
    font-size: 24px;
    color: #4A5568;
}

.infoCardContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 120px;
}

.infoCardLabel {
    font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    color: #44337A;
}

.infoCardValue {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #44337A;
}

/* Responsive styles */
@media (max-width: 830px) {

    .amenitiesContainer {
        display: block;
    }

    .title {
        font-size: 18px;
        padding: 12px 16px;
        margin-bottom: 48px;
        border-radius: 10px;
        background: #F4F5F7;
    }

    .price {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .infoCards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 16px;
        padding: 8px 16px;
        margin-bottom: 36px;
    }

    .locationPath {
        padding: 24px 0;
        font-size: 18px;
    }

    .detailsSection {
        gap: 8px;
    }

    .infoCards {
        gap: 8px;
    }

    .price {
        font-size: 28px;
    }
}

@media (max-width: 395px) {
    .locationPath {
        flex-wrap: wrap;
    }

    .detailsSection {
        flex-wrap: wrap;
    }

    .infoCards {
        grid-template-columns: 1fr;
    }
}